*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.menu-bar{
text-align: center;
height:70px;
background-color:black;
line-height: 70px;
}
.menu-bar ul li{
	display: inline-block;
}
.menu-bar ul li a{
	font-size: 16px;
	color:red;
	font-weight: 600;
	margin:0px 10px;
	transition:1s;
}
.menu-bar ul li a:hover{
	color:white;
	font-size:20px; 
	transition: 1s;

}
/*banner section css here*/
.bannar{
	width: 100%;
	background-image: url(../img/bannar-3.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;


}
.bannar h1{
	font-size: 28px;
	text-align: center;
	color:red;
	padding-top: 200px;
}
.outer-box{
	height:628px;
	width:400px;
	background-color:#DAF7A6;
	margin:0px 80px;
	position: relative;
}
.outer-box h1{
	
	margin-top:0px;
	padding:0;
}
.input-box{
	display:block;
	
	margin-bottom:0px;
	margin-left: 5px;
	padding:1px;
	width:200px;
	height:20px;
	border:1px solid red;
	
	font-size:12px;
	transition: 0.2s;
	border-radius: 5px;
	background-color:white;
}
.submit-btn{
	width:100px;
	height: 30px;
	background:green;
	border-radius: 5px;
	color:white;
	transition: 1s;
}

.submit-btn:hover{
	color:red;
	transition: 1s;

}










.social-media{
	text-align: center;
	margin-top: 80px;
}	
.social-media ul li{
	list-style:none;
	display:inline-block;
}
.social-media ul li a i{
	font-size: 15px;
	height: 60px;
	width:60px;
	background:red;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	color:white;
	margin: 0px 10px;
	transition:0.5s;
}

.social-media ul li a i:hover{
	background-color:blue;
	transition:0.5s;
}
